
/.vscode/
/Shared_projects/
/Scripts/
/Projects/
/Logs/
/libraries/
/Files/
/Images/
/Files/
/Indicators/
/Include/
/Presets
**/*.ex4
**/*.log
**/*.dat

Setup.xlsx
TEST/*-Re-Train.csv
compilemql4.log
**/*.log
**/*.ex4
*.log